body {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

body > form > div > button {
  width: 100%;
}
h1 {
  width: 100%;
  text-align: center;
}

form {
  width: 50%;
}

.right_sector {
  width: 50%;
}

.right_sector > img {
  width: 50px;
}